<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--数据库类型 可以是mssql、mysql、sqlce、sqlite、oracle-->
    <add key="DBType" value="mssql"/>
    <!--数据库连接字符串，使用工具中的加密工具对连接字符串进行加密-->
    <add key="ConnectionString" value="hkLEfkmEuyG54vqe0GIvtEUNrx+IM/LkHdcp/rBljnhwSyFPfVLaHsXZDirSvCtt1ATX+EuKDFw="/>
    <!--数据连接是否加密 为true时ConnectionString节点配置的须是连接字符串密文。相反的要是明文-->
    <add key="ConStringEncrypt" value="true"/>
    <!--发生异常时是否记录日志，默认开启（基于log4net）响应配置在log4net.config中-->
    <add key="WriteLog" value="true"/>
  </appSettings>
</configuration>