<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBType" value="mssql"/>
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=Test;UID=sa;PWD=zhumm123"/>
    <add key="ConStringEncrypt" value="false"/>
    <add key="MaxPoolSize" value="10"/>
    <add key="MinPoolSize" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="Test" connectionString="Data Source=.;Initial Catalog=Test;user id=sa;Password=zhumm123;"/>
  </connectionStrings>
</configuration>