<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--数据库类型-->
    <add key="DBType" value="mssql"/>
    <!--数据库连接字符串-->
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=Test;UID=sa;PWD=zhumm123"/>
    <!--数据连接是否加密-->
    <add key="ConStringEncrypt" value="false"/>
    <add key="MaxPoolSize" value="10"/>
    <add key="MinPoolSize" value="1"/>
    <!--发生异常时是否记录日志（基于log4net）-->
    <add key="WriteLog" value="true"/>
  </appSettings>
</configuration>